<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^$ public/index.php [L]
	RewriteCond %{REQUEST_URI} !^/public/? [NC]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>